<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Burns Capital</a>
    </div>
    <!--left side links-->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"> Home</a></li>
        <li><a href="/indexVR">VR Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">About</a></li>
        <li><a href="/readingRoom"> Library</a></li>
        <li><a href="/media">Media</a></li>
        <li><a href="/blog">Blog</a></li>

      </ul>
      <!--right side links-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="mailto:cody.w.burns@protonmail.com"><p class="fa fa-envelope"></p></a></li>
        <li><a href="https://twitter.com/DontPanicBurns"><p class="fa fa-twitter"></p></a></li>
        <li><a href="https://www.facebook.com/cody.w.burns"><p class="fa fa-facebook"></p></a></li>
        <li><a href="https://www.linkedin.com/in/cody-burns-22aa7037"><p class="fa fa-linkedin"></p></a></li>
        <li><a><button type="button"  class="btn-link fa fa-lock" data-toggle="modal" data-target="#pubModal"></button></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div id="pubModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Public Key</h4>
      </div>
      <div class="modal-body text-left">
        <p>-----BEGIN PGP PUBLIC KEY BLOCK-----
        <br>Version: SKS 1.1.6
        <br>Comment: Hostname: pgp.mit.edu
        <br>
mQINBFoTU+4BEADlurcSNcC/XI33brBM2tx3Bdex2EaswUj2o/1KN/PKi6X9MBWEX4Vrop21
ps26qarBwm1fRbiWyjf6VxQlwMo6Ysx+1fzfYDpym/82KOqofZ/99YNU2WWsrIsOINuzNCWt
qOhqzGI42cVMrc8u7yZ+Eqj7WjuqJUunsx8ir7kx/eTreTwq4XKsXJzVj1yMlYHqqh3mGHYn
xTTxOgrsYy/mFQhlVQOTawebuHO0nAJ9wYH8hFbCY+ifVTSqrVi9mUu86bspHK32F9vmDUOX
7stEG45Ru9ZrpmYP6GYc2ZncNRyznQ0TUoyww5COp1l9oJU2OLXkS94b9M9SftJaPF9Vvsqz
WSdSHYSEecWwUFyKpf9dUcTcxJL02CTCN7Nfn8fgGfPtik3IDOy/0l+iJE4sL4UGcOpfbgkj
wnceQ0gDnFMnZ5cCXnO7iWmfWJa09fURTbKsakAhLgZNKPgMBtCV4fxJLxweJcKZD+VCnJgG
7aa0z7JkmHDj1Rbtb2ndHDTps7g6mQi0mlelztgmkB/rlO9yKfbablmL75iPGqMlSy0+m03g
JUlINz+7av9PEHQwHB7IHLvtNtrVLtN4K8SohiBJDg0OLrOdreGzVVPJoDrsqpinRudYisaE
iUVe7rCGCFoKxmgw0ui3EH5phbgLZsOAeXmHzaLxVnoVUCyRDQARAQABtDNDb2R5IFcgQnVy
bnMgKERvbid0IFBhbmljKSA8Y29keS53LmJ1cm5zQGdtYWlsLmNvbT6JARwEEAECAAYFAloU
oKMACgkQUP34Y+kPC+5kBwgApP4Scvt2MPFP51FhIFWslKBsjR2o0JG2QpsYBVpGbrKYhV0b
ke/SkzGFNDOTfpQbt3HRdcAojkA++YofwRYqZThBVNkZLkrjS+WMrut2Ra0A8ogZYG1wdoHR
jYRG/KN3z3BE52vHWW4Rv43HwX6KMkPOTyABS/pss75NPkBSI+rUWKP2tqiC2PToAsf4bg13
YzzELNRt7DyHMAN6fiHWbmOD2OFjoHdXrlyaYCX3K4H8hGjejhFMeOEf+TXT9suHqYyKEdLu
zHrX7ScLXmgj5kFlg85Wa/hto67ndospEZJYNO5aQquZD5CWupjtl6SpuJXEL+Q2oqYVytQA
NuuOhIkCPgQTAQIAKAUCWhNT7gIbAwUJCWYBgAYLCQgHAwIGFQgCCQoLBBYCAwECHgECF4AA
CgkQqpAlAGoe/M9Oow/9E3BQkkyNetIBAJceDz1QVXr3kiBJsB2f3l+8y2zM8VjWHzahQtOe
rv7e5xdpwsEBCt2NA7Ytlpi55DjGz6SudiqzgeNSHdWDWR3lcyZtRM5VLoZJqhtNYhgmLfAQ
DO1AK69n66yBI7Hp6yt5vIlRDU5Dbk7jcMPnVTHg8rYCty1GmRAqAfCY1ysbdPnGKza7VMe4
DXaANFbONIhOGHGerJoeZjEizlzm+PlzDF9NZnHFbDAOLySJ847LVNFjsbNwy9MfVW4bGqcg
4cuv7TOIPtADYXVcw28AeHlbEJWz1BNXQooBcAsbDzMYlISG92eTmX35jJ6o8ebetAvyRsjX
3cT1ZVE0QkCQeS6AskxNu34W3pZ9c++TZ02dRjnjfL0TPV8qb9p/vNMep0dIFCbBxmxyOMiO
sDp/2XHyWIkNyDb3a9eQ4ehejqSkY0KTrDtS4SG2e86SlbjMC1njQ6qW3QJIO7Bq4PsN7hrt
rLxNJOho5wl04uE5M3RP8NAzCol8d3yGqD2O3ScykwYeQ+oRmQ1BTGcCo/qcGLs2nyvlaTjs
pdhd6TwzuPZIla6cdPOlkIIz3H8glQ7TqOjS4LN/HJjhl88L95kx8s+/7/m21yzWJaeAdaQd
u8sFjuWX7BycOGWIAhTlGzLUqHm/yw64NAvPaBGuC+w5Qqhv4MNwABe5Ag0EWhNT7gEQAMW6
ZmKrTIkbfJVMac6vVwqz4QqQue8jE2Y2kTTnnOxpB2Gf612ctgpZ40S2K6SUXi2I4ScHckCM
Lr5wLfyhSkzDcp5wPLjYqF58VSt58LkcT323Gbfi9f1ykBFh8QPxfNPiZW6PQKwU//2vr/9s
nIjlET1IaxmaSPkWLlCKjvWJR2iaUqav8T0cPG7xU4fvUyU8IbQtGyUXlCKVrmFkgaS1AFKu
PLrStWO7CMd4wphrV4l4pf995I9ii+K4S077opNcIk0ldxQyYeA0Bha2JrnYOV1JOoZ18Ave
nNWbXW0cVaYLXrmkPOeaq5NH2Oyi+8S1All39Un4Dju8ANbIDwr7Jzr1mrzhvf8xFZcSDK+K
Qq5+jyM0s1xsFNepZZV1hCubRo6GKWjZssuPr2MU93/bfKswCHFahUM3yLBj0J33Wr372mCC
VdDoXgVCvMj1CYNny1KFrBh6MCZjMnmon0+69lnXbLKhQ6wcbhM1PeqKU5qr7bD94zDNKulX
WwQuEFwC23O5BrOyZl+5xOGJerN3S1WG+WzIAJnCVM/rJbMdWXgalmIPBQOV58a+fuP43qnh
/3lcvHXMgp15e543f7eSPxwKY8iIQOqnVHsx2rPDhkiD0NBgyAGeFOrjBImylFBq2KEgD79v
n8pdFXUDhsLqADruI+AeJVQcD8FuP3yvABEBAAGJAiUEGAECAA8FAloTU+4CGwwFCQlmAYAA
CgkQqpAlAGoe/M9SfBAA0G8SsCUAYz0UBFzj0b7oQgcuaj+aUdexxvlug6nOFAl6BcnOdBW9
gbf7yL6vYqpjyCwIJBnkCSsO7DLvrlPFg7Vm6StvmivDfAm090ZLjW5ehftxF2tdYBSXBLfD
Rrxl0rCkibcM5DkfAezMRW/fo7ZfzGpMC3nzXZOROChSofCOLyz68ii+vf9BX+8YhRAudmpm
vqH0CxBWadywO1dP4LCzZcHSWwTyQ2avEo3wrEIL8vK6+HiVlWIN4tpNXmd+/oUXtfwGEYUy
fsMEXBks959OSYmA4hOb7vuRzYuYNPSM0H4DG5J9mq69nCoQH4JZGJH4hWcNbdIDkq2ke2Ao
s0WCDht8bJhHb6GdXE89F2BmWuEljDkCZpVPEoVhQ9UaI/42f8AHUKWwVqPgUXd3dkpTRI/h
wTGD+LRhfTPYWw5EI65uLHp/qwpnPxYjkDXWZk9Bp2cO2I7AxCSwLH9CHyolJWV62vP7gL7S
7gqah+Wl1xLQwq7ZTp0G7c1tyidEqhhpjW8aKxxwjEoDXTsn10PjERrymW9k/Cim+hTlf+03
gpJaO8IzqY64zcmlX996Junf+JUDStWkUp/bsasj4Dq+LbA87uJmHbYRpi5wgmmRFCOgRTMf
VWsaCr/9TXv4QSb6r7NdquGVLlC6mwq6sTk6hVW2Jio+iY7PHib1m2g=
=HlSY

        <br>-----END PGP PUBLIC KEY BLOCK-----</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
