
<script src="/js/skel.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/util.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://rawgit.com/mattboldt/typed.js/master/dist/typed.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script></body>
<!--[if lte IE 8]><script src="/js/ie/respond.min.js"
></script><![endif]-->
<script src="/js/script.js"></script>
<script src="/js/tether.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<script src="../js/typed.js"></script>
<script>
    $(function(){
        $("#typed-string").typed({
            strings: ["GIS mapping and illustration",
                      "Website development",
                      "Blockchain Projects",
                      "Graphic Design",
                      "Database Management",
                      "Virtual Reality",
                      "Cloud Architecture"
                      ],
            typeSpeed: 250,
            shuffle: true,
            loop: true,
            contentType: 'html',
            showCursor: false
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
particlesJS.load('particles-js', 'json/particles-config.json', function() {
  console.log('callback - particles.js config loaded');
})
</script>
