<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header}}
    {{>ext}}
  </head>
  <body>
    <div class="wrapper">
      {{> navbar}}
      {{> flash}}
      <div id="particles-js" ></div>
      {{{body}}}
      {{>scripts}}
    </div>
</body>
<footer>
  {{>footer}}
</footer>
