<div class="container-fluid vr">
  <div class = "row">
    <div class="col-lg-12">
      <a-scene>
        <a-entity id ="404"
          position="0 0 -200"
          rotation="0 -180 0"
          obj-model="obj: url(/img/obj/404.obj); mtl: url(/img/obj/404.mtl)">
        </a-entity>
        <a-entity id="words"
        position = "-25 -20 -200"
        scale = "50 50 10"
        bmfont-text="text: Page not found; color: red; align:left">
      </a-entity>
    </a-scene>
  </div>
</div>
