

<!--logo stuff -->

<div class="miniBtn">
  <div class = "row-fluid">
    <img class="img-reactive" style = "max-width:500px" src="../img/bclogo.png" />
    <div class="col-xs-3 col-sm-3 spacer">|</div>
  </div>
  <div class="row text-center">
    <a href="/Projects" class="well col-sm-4">Projects</a>
    <a href="/readingRoom" class="well col-sm-4">Research Library</a>

    </div>
</div>
